<h1>Sales Team Members</h1>



<!-- *ngFor structural directive -->
<div *ngFor="let member of salesTeamMember">
    <!--  data binding -->
    <h3>{{member.firstName}} {{member.lastName}}</h3>
    <p>{{member.email}}</p>
    <p> $ {{ member.quota }}</p>
    <hr>
</div>
