<h1>Math App</h1>

<h3>Addition: 8 + 12 = {{ this.sum() }}</h3>
<h3>Subtraction: 8 - 12 = {{ this.difference() }}</h3>
<h3>Product: 8 * 12 = {{ this.product() }}</h3>
<h3>Quotient: 8 / 12 = {{ this.quotient() }}</h3>
